
*, 
*:before, *:after {
	box-sizing: border-box;
}
html {
  font-size: 62.5%;
  height: 100%;
}

body {
  font-family: $font-primary;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  display: flex;
  flex-direction: column;
  font-size: map-get($sizes,base);
	height: 100%;
}

p {
  margin-bottom: map-get($sizes, "base");
}

.main-container{
  min-height: 100vh;
}