.btn {
   background-color: color(primary, base);
   color: color(grayscale, white);
   font-family: $font-primary;
   font-size: $font-size;
   padding: 1.5rem 7.4rem 1.1rem 7.9rem;
   border: none;
   cursor: pointer;
   font-weight: 500;
   line-height: 1;
   outline: none;
   text-transform: uppercase;
   width: auto;
   @include mq-min(md) {
      width: auto;
   }
}

@include  mq-min(md){
}
