// ==========================================================================
// Importación de la fuente de íconos
// ==========================================================================

@font-face {
    font-family: 'iconFont';
    src:  url('/assets/fonts/iconFont/iconFont.eot?jrmy5y');
    src:  url('/assets/fonts/iconFont/iconFont.eot?jrmy5y#iefix') format('embedded-opentype'),
      url('/assets/fonts/iconFont/iconFont.ttf?jrmy5y') format('truetype'),
      url('/assets/fonts/iconFont/iconFont.woff?jrmy5y') format('woff'),
      url('/assets/fonts/iconFont/iconFont.svg?jrmy5y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'iconFont' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

// ==========================================================================
// Importación de la typografia
// ==========================================================================

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Black.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Bold.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Light.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Medium.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Regular.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../../fonts/Roboto/Roboto-Thin.woff2') format('woff2'),
        url('../../fonts/Roboto/Roboto-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

