// ==========================================================================
// FontStack
// ==========================================================================

$font-size         : 1.6rem;
$font-primary      : 'Roboto', sans-serif;
$font-icon         : 'iconFont'; 

// ==========================================================================
// COLORS : Eje.: background: color( primary, light );
// ==========================================================================

$colors: (
   primary: (
      base     : #FB3640,
      dark     : #0A2463
   ),
   secondary: (
      base     : #247BA0,
      dark     : #605F5E,
      light    : #9DA7C1
   ),
   controls:(
      base     : #0074FC,
      dark     : #0056B3,
   ),
   grayscale: (
      white    : #ffffff,
      gray-1   : #f2f2f2, 
      gray-2   : #eeeeee,
      gray-3   : #cccccc,
      gray-4   : #D6D6D6,
      gray-5   : #666666,
      gray-6   : #525252,
      gray-7   : #4A4A4A,
      base     : #1b1b1b,
      black    : #000000
   ),
   border:(
      color-1  : #ced4da,
      color-2  : #999999
   )
);

// ==========================================================================
// SPACING : Eje.: padding: map-get($sizes, "tiny");
// ==========================================================================

$sizes: (
   tiny   : 1.2rem,  // 12px
   small  : 1.4rem,  // 14px
   base   : 1.6rem,  // 16px
   thumb  : 1.8rem,  // 18px
   half   : 2rem,    // 20px
   medium : 3rem,    // 30px
   slarge : 3.6rem,  // 36px
   large  : 4.8rem,  // 48px
   xlarge : 5.6rem,  // 56px
   huge   : 6.4rem   // 64px
);

// ==========================================================================
// Breakpoints
// ==========================================================================

$breakpoints: (
   sm  : 540px,
   md  : 720px,
   lg  : 960px,
   xl  : 1140px,
);

// ==========================================================================
// Alignment
// ==========================================================================

$alignment: left, center, right, justify;
